@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;
}

@media screen and (max-height: 720px) {
  html {
    font-size: 12px;
  }
  body header img.logo_search {
    width: 70px;
    height: auto;
    margin: 10px;
  }
  section div.search_message h3.text_static_tittle {
    margin-top: 0;
    width: 100%;
  }
  section div.div_area_search {
    height: 110%;
  }
  section button.button_copy {
    transition: all 0.8s;
    padding: 15px 10px;
    width: 40%;
  }
}
