header {
  height: 10vh;
}

footer {
  height: 5vh;
}

main {
  height: 85vh;
}

/* === Logo Alura === */
header img.logo_search {
  margin: 1.5rem 0 1rem 2.5rem;
}

/* === Primera sección === */
section.child_main {
  width: 100%;
  height: 60%;
}

div.div_area {
  width: 80%;
  height: 70%;
  margin: 0 auto;
}

/* === Texarea y label === */
div.div_area textarea {
  display: block;
  height: 90%;
  min-height: 90%;
  max-height: 90%;
  width: 100%;
  min-width: 50%;
  max-width: 100%;
  border: none;
  outline: none;
  font-size: 2rem;
  color: #0a3871;
}

div.div_area textarea::placeholder {
  line-height: 3rem;
  color: #0a3871;
  font-weight: 400;
}

div.div_area label {
  text-align: center;
  line-height: 1.125rem;
  color: #495057;
  font-size: 0.75rem;
}

/* === Botones ===*/
div.div_input {
  text-align: center;
}

div.div_input input {
  display: inline-block;
  width: 40%;
  margin-top: 0.625rem;
  border-radius: 1.5rem;
  padding: 1.5rem;
  line-height: 1.21rem;
  cursor: pointer;
  font-size: 0.85rem;
  transition: all 0.5s;
}

input[type="button"][value="Encriptar"] {
  background-color: #0a3871;
  border: none;
  color: #fff;
  font-weight: 400;
}

input[type="button"][value="Desencriptar"] {
  background-color: #d8dfe8;
  color: #000;
  border: 1px solid #0a3871;
  color: #0a3871;
  font-weight: 500;
}

input[type="button"][value="Desencriptar"]:hover {
  background-color: #f3f5fc;
}

input[type="button"][value="Encriptar"]:hover {
  background-color: #072b61;
}

/* === Segunda sección === */
section.child_message {
  width: 100%;
  height: 35%;
}

div.div_area_search {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border-radius: 2rem;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  text-align: center;
  padding: 2rem 2rem 4rem;
}

section.child_message div.search_message {
  height: auto; /* === 67.5%*/
  overflow: hidden;
  overflow-y: auto;
}

/* === Scroll bar === */
::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background: #eff1fa;
}

::-webkit-scrollbar-thumb {
  background: #e9ecf8;
  border-radius: 0.825rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #aab2d58c;
}

/* === Image_Search === */
section.child_message div.div_area_search img {
  display: none !important;
}

/* === Text_div === */
div.search_message h3.text_static_tittle {
  color: #343a40;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-top: 10%;
}

div.search_message p.text_static {
  color: #495057;
  font-size: 1rem;
  line-height: 1.5rem;
}

div.search_message p.text_interactive {
  line-height: 1.8rem;
  color: #0a3871;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: left;
}

/* === Button_copy === */
button.button_copy {
  width: 70%;
  margin: 0 auto;
  margin-top: 0.5rem;
  border-radius: 24px;
  padding: 1.5rem;
  line-height: 1.21rem;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #0a3871;
  color: #0a3871;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  transition: transform 0.2s ease-in-out;
}

button.button_copy:active {
  transform: scale(0.95);
}

/* === Footer === */
footer.footer_page {
  width: 100%;
  text-align: center;
  color: #052051;
  font-size: 2rem;
}

footer.footer_page i.bi-linkedin {
  color: #1c4979;
}

footer.footer_page i.bi-github {
  color: #343a40;
}

footer.footer_page a {
  display: inline-block;
  transition: 0.2s ease;
}

footer.footer_page a:hover {
  transform: scale(0.9);
}

/* === Switch === */
.search_message > h3.text_static_tittle,
.search_message > p.text_static {
  display: inline-block;
}

div.search_message p.text_interactive,
button.button_copy {
  display: none;
}

/* === Interective Text ==== */
#title_message {
  animation: none;
  display: inline-block;
}

#allowed_text {
  animation: none;
  display: inline-block;
}

#text_input::placeholder {
  animation: none;
}

/* === Animación === */
@keyframes shake {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
}
